@media(max-width:700px) {
    .container {
        width: 90%;
    }
    .header {
        height: auto;
    }
    .feedback__content,
    .ingredients__good,
    .footer__up,
    .producers__content,
    .feedback-people__content,
    .natural__content,
    .aperitifs__text,
    .under-header__content {
        flex-direction: column;
    }
    .hr {
        width: 90%;
    }
    h2,
    .ingredients h2,
    .aperitifs__text h2,
    .producers__text h2 {
        font-size: 45px;
        line-height: 50px;
    }
    .footer__site-map,
    .mood__playlist,
    .mood__socials,
    .producers__text,
    .producers__img,
    .feedback-people__item,
    .natural__text,
    .natural__img,
    .aperitifs__text p,
    .ingredients h2,
    .ingrediants__img,
    .ingredients__item p,
    .under-header__right p,
    .footer__post form,
    .footer__post,
    .mood__playlist p {
        width: 100%;
    }
    .top-menu {
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        background: #996b60b7;
        padding: 0 10px;
    }
    .top-menu__left,
    .top-menu__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-menu__left a:not(:last-child),
    .top-menu__left a:last-child,
    .top-menu__right a:not(:last-child),
    .top-menu__right a:last-child {
        margin: 12px 0;
    }
    .top-menu img {
        margin: 12px 0;
        width: 17vw;
    }
    .natural__content {
        flex-direction: column-reverse;
    }
    .under-header__left {
        height: 50%;
        width: 100%;
    }
    .under-header__right {
        padding: 0;
        width: 100%;
        margin-top: 250px;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .under-header__right h1 {
        text-align: center;
        width: 100%;
        margin: 0;
        font-size: 60px;
        padding: 0 25px;
        box-sizing: border-box;
    }
    .under-header__right p {
        padding: 0 25px;
        box-sizing: border-box;
    }
    .under-header__right button {
        width: 200px;
        height: 60px;
        padding: 0;
        margin-bottom: 55px;
    }
    .under-header__right button:hover {
        transform: none;
        background-color: aliceblue;
    }
    .feedback {
        margin: 25px 0;
    }
    .ingredients {
        padding-bottom: 25px;
    }
    .ingredients .desc {
        margin-bottom: 25px;
    }
    .ingredients__item {
        border-bottom-color: grey;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-top: 20px;
    }
    .ingredients__item:last-child {
        border: none
    }
    .ingrediants__img {
        background-position: center;
    }
    .aperitifs {
        padding-bottom: 50px;
    }
    .aperitifs__text h2 {
        margin-bottom: 25px;
    }
    .natural__text {
        margin-top: 25px;
    }
    .feedback-people {
        padding: 60px 0;
    }
    .producers__text h2 {
        margin: 60px 0 25px 0;
    }
    .footer__up h2 {
        margin-bottom: 25px;
    }
    .footer__post form {
        margin-bottom: 25px;
    }
    .footer__post input {
        border-bottom-color: grey;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        flex-grow: 0;
        width: 65%;
    }
    .footer__post button {
        padding: 12px 20px;
        border: 1px solid #fff;
    }
    .footer__down {
        width: 100%;
        justify-content: space-between;
    }
    .footer__site-map {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .site-map__item a {
        font-size: 10px;
    }
    .footer__down a,
    .footer__down p {
        margin: 0;
        font-size: 10px;
    }
}